<footer class="site-footer" style="background: black">

  <div class="wrapper">

    <h2 class="footer-heading" style="color: white">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <!--FIXME: url para o repositório-->
      <div class="footer-col">
        <p>	
        © Comunidade Debian Brasil. O conteúdo deste site está disponível sob a licença Creative Commons Atribuição (CC-BY). O código fonte está <a href="https://salsa.debian.org/leandroramos-guest/dia-livre-usp-website">disponível</a>.
        </p>
      </div>	
    </div>

  </div>


</footer>
